@import "tailwindcss";

@layer base {
  /* Custom font */
  @font-face {
    font-family: "Ageo";
    src: url("/public/font/AgeoTrial-Bold.ttf") format("truetype");
  }

  /* Custom CSS */
  @theme {
    --color-primary: #ff6600;
    --color-black-custom: #0b1b35;

    --font-Ageo: "Ageo", sans-serif;
  }
}
